<!DOCTYPE html>

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet"  href="/style3.css">
    
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="business-outline"></ion-icon>
                        </span>
                        <span class="title">Gas Unión</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard Principal</span>
                    </a>
                </li>


                <li>
                    <a href="/carteraLimite">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Clientes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Servicios</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="file-tray-stacked-outline"></ion-icon>
                        </span>
                        <span class="title">Bloques</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Precio gas</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                

                <div class="">
                    <span class="title"><%= datos.rol %></span>
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            
            <div class="cardBox">
                <% results2.forEach((clientes)=>{ %>
                <div class="card">
                    <div>
                        <div class="numbers"><%= clientes.total %></div>
                        <div class="cardName">Clientes en sistema</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>
                <% }) %>
                
                <% results3.forEach((precioGas)=>{ %>
                <div class="card">
                    <div>
                        <div class="numbers">$<%= precioGas.precio %></div>
                        <div class="cardName">Precio al día</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <% }) %>
            </div>
            

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Clientes proximos a servir</h2>
                        <a href="#" class="btn">Ver más...</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Numero</td>
                                <td>Nombre</td>
                                <td>Día de carga</td>
                                <td>Telefono</td>
                                <td>Estatus Cliente</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>

                        <tbody>
                            <% results.forEach((client)=>{ %>
                            <tr>
                                <td><%= client.noCliente %></td>
                                <td><%= client.nombreCliente %></td>
                                <td><%= client.diaCarga %></td>
                                <td><%= client.telefonoCliente %></td>
                                <% if (client.statusCliente === 'ACTIVO') { %>
                                    <td><span class="status on"><%= client.statusCliente %></span></td>
                                <% } else if (client.statusCliente === 'DESACTIVADO') { %>
                                    <td><span class="status off"><%= client.statusCliente %></span></td>
                                <% } %>
                                <td>
                                    <a href="/editUser/<%= client.idUsuario %>" class="btn btn-outline-info"><ion-icon name="pencil-outline"></ion-icon></a>
                                    <a  onclick="confirmar(<%= client.idUsuario %>)" class="btn btn-outline-danger"><ion-icon name="trash-outline"></ion-icon></a>
                                  </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>