<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Usuarios</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet"  href="/style3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">

</head>
<body>
   <!-- =============== Navigation ================ -->
   <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="business-outline"></ion-icon>
                    </span>
                    <span class="title">Gas Unión</span>
                </a>
            </li>

            <li>
                <a href="/administracion">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard Principal</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="title">Usuarios</span>
                </a>
            </li>

            <li>
                <a href="/carteraClientes">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Clientes</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Servicios</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="file-tray-stacked-outline"></ion-icon>
                    </span>
                    <span class="title">Bloques</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Precio gas</span>
                </a>
            </li>

            <li>
                <a href="/logout">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            

            <div class="">
                <span class="title"><%= datos.rol %></span>
            </div>
        </div>

        <!-- ================ Order Details List ================= -->
        <div class="details">
          <div class="recentOrders">
              <div class="cardHeader">
                  <h2>Usuarios en sistema</h2>
                  <a href="/createUsers"><ion-icon name="add-circle-outline" style="font-size: 35px;" title="Nuevo Usuario"></ion-icon></a>
              </div>

              <table id="tblUsuarios">
                  <thead>
                      <tr>
                          <td># DE EMPLEADO</td>
                          <td>NOMBRE</td>
                          <td>USUARIO</td>
                          <td>NIVEL DE USUARIO</td>
                          <td>ESTATUS USUARIO</td>
                          <td>ACCIONES</td>
                      </tr>
                  </thead>

                  <tbody>
                      <% results.forEach((user)=>{ %>
                      <tr>
                          <td><%= user.noEmpleado %></td>
                          <td><%= user.nombre %></td>
                          <td><%= user.username %></td>
                          <td><%= user.rol %></td>
                          <% if (user.status === 'ACTIVO') { %>
                              <td><span class="status on"><%= user.status %></span></td>
                          <% } else if (user.status === 'DESACTIVADO') { %>
                              <td><span class="status off"><%= user.status %></span></td>
                          <% } %>
                          <td>
                              <a href="/editUser/<%= user.idUsuario %>" class="btn btn-outline-info"><ion-icon name="create-outline" style="font-size: 25px;"></ion-icon></a>
                              <a  onclick="confirmar(<%= user.idUsuario %>)" class="btn btn-outline-danger"><ion-icon name="trash-outline" style="font-size: 25px;"></ion-icon></a>
                            </td>
                      </tr>
                      <% }) %>
                  </tbody>
              </table>
          </div>

          
      </div>
  </div>
</div>

<!-- =========== Scripts =========  -->
<script src="/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
<script>
    function confirmar(id){
        Swal.fire({
          title: 'Confirma eliminar el registro: '+id+' ?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirmar',
        }).then((result) => {
          
          if (result.isConfirmed) {
            window.location = '/deleteUser/'+id;
          } 
        })
      }
</script>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



</body>
</html>