<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usuario</title>
  <!-- ======= Styles ====== -->
  <link rel="stylesheet"  href="/style3.css">
</head>
<body>

  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a  href="/administracion">
                    <span class="icon">
                        <ion-icon name="business-outline"></ion-icon>
                    </span>
                    <span class="title">Gas Unión</span>
                </a>
            </li>

            <li>
                <a href="/administracion">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard Principal</span>
                </a>
            </li>

            <li>
                <a href="./dashboard/UsersControlAdmin">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="title">Usuarios</span>
                </a>
            </li>

            <li>
                <a href="/carteraClientes">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span class="title">Clientes</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="title">Servicios</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="file-tray-stacked-outline"></ion-icon>
                    </span>
                    <span class="title">Bloques</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <span class="title">Precio gas</span>
                </a>
            </li>

            <li>
                <a href="/logout">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            

            <div class="">
                <span class="title"><%= datos.rol %></span>
            </div>
    
      <% if (user) { %>

      </div>
      <div class="custom-form">
        <div class="custom-card">
            <h2 class="custom-form-header">Nuevo Registro de Usuario</h2>
            <div class="custom-form-content">
                <form action="/updateUser" method="POST">
                    <div class="input-group">
                        <label for="nombre">Nombre Completo</label>
                        <input type="text" id="nombre" name="nombre" value="<%= user.nombre  %>" tabindex="1">
                    </div>
                    <div class="input-group">
                        <label for="num">No. Empleado</label>
                        <input type="text" id="num" name="num" value="<%= user.noEmpleado  %>" tabindex="2" >
                    </div>
                    <div class="input-group">
                      <label for="user">Nombre de Usuario</label>
                      <input type="text" id="user" name="user" value="<%= user.username  %>" tabindex="2">
                    </div>
                    <div class="custom-select">
                      <label for="rol" class="custom-select-label">Nivel de usuario</label>
                      <select id="rol" name="rol" class="custom-select-input" tabindex="6">
                          <option <%= user.rol === 'ADMINISTRADOR' ? 'selected' : '' %>>ADMINISTRADOR</option>
                          <option <%= user.rol === 'SUPERVISOR' ? 'selected' : '' %>>SUPERVISOR</option>
                          <option <%= user.rol === 'COORDINADOR' ? 'selected' : '' %>>COORDINADOR</option>
                          <option <%= user.rol === 'OPERADOR' ? 'selected' : '' %>>OPERADOR</option>
                      </select>
                  </div>
                    <div class="custom-select">
                      <label for="st" class="custom-select-label">Estatus</label>
                      <select id="st" name="st" class="custom-select-input" tabindex="6">
                          <option <%= user.st === 'ACTIVO' ? 'selected' : '' %>>ACTIVO</option>
                          <option <%= user.st === 'DESACTIVADO' ? 'selected' : '' %>>DESACTIVADO</option>
                      </select>
                  </div>
                  
                    <div class="button-group">
                        <button type="submit" class="custom-primary-button" tabindex="5">Guardar</button>
                        <a href="./dashboardUsersControlAdmin.ejs" class="custom-secondary-button">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% } %>
      
      
      
</body>
</html>